extends template.pug
block title 
    |Register to Notes! 
block content
    .register-page
        .register-panel 
            .register-panel__register-form
                h2
                    |Register to Notes!
                form(method="post")
                    .input-group
                        input(type="text" placeholder="Username" )
                    .input-group
                        input(type="email" placeholder="Email address")
                    .input-group
                        input(type="password" placeholder="Password")
                    .input-group
                        input(type="password" placeholder="Repeat password")
                    .input-group
                        input(type="checkbox" id="terms") 
                        label(for="terms") I agree on terms of use and other small font stuff. 
                    .button-group
                        button(type="submit") Sign up
                .separator Or use Google or Facebook account
                .register-panel__register-with-social-media
                    .media-register.google(style="background-image:url(https://idge.staticworld.net/images/gplus.svg)") 
                    .media-register.facebook(style="background-image:url(https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png)")